Repository monero-project/monero-site, pull requests merged in 2020-12, with the labels that each got.

#1266 Moneropedia entries into Norwegian (A–B)
  _i18n/nb-no/resources/moneropedia/account.md
  _i18n/nb-no/resources/moneropedia/address.md
  _i18n/nb-no/resources/moneropedia/airgap.md
  _i18n/nb-no/resources/moneropedia/atomic-units.md
  _i18n/nb-no/resources/moneropedia/block.md
  _i18n/nb-no/resources/moneropedia/blockchain.md
  _i18n/nb-no/resources/moneropedia/bootstrap-node.md
  _i18n/nb-no/resources/moneropedia/bulletproofs.md
Labels: i18n

#1302 9 Norwegian Moneropedia entries (C–D)
  _i18n/nb-no/resources/moneropedia/canonically-unique-host.md
  _i18n/nb-no/resources/moneropedia/change.md
  _i18n/nb-no/resources/moneropedia/clearnet.md
  _i18n/nb-no/resources/moneropedia/coinbase.md
  _i18n/nb-no/resources/moneropedia/consensus.md
  _i18n/nb-no/resources/moneropedia/cryptocurrency.md
  _i18n/nb-no/resources/moneropedia/daemon.md
  _i18n/nb-no/resources/moneropedia/denominations.md
Labels: i18n

#1305 Moneropedia entries (E–O)
  _i18n/nb-no/resources/moneropedia/encryption.md
  _i18n/nb-no/resources/moneropedia/fluffyblocks.md
  _i18n/nb-no/resources/moneropedia/fungibility.md
  _i18n/nb-no/resources/moneropedia/kovri.md
  _i18n/nb-no/resources/moneropedia/locally-unique-host.md
  _i18n/nb-no/resources/moneropedia/mining.md
  _i18n/nb-no/resources/moneropedia/mnemonicseed.md
  _i18n/nb-no/resources/moneropedia/node.md
  _i18n/nb-no/resources/moneropedia/openalias.md
Labels: i18n

#1319 Norwegian Moneropedia entries (P–R)
  _i18n/nb-no/resources/moneropedia/paperwallet.md
  _i18n/nb-no/resources/moneropedia/paymentid.md
  _i18n/nb-no/resources/moneropedia/pedersen-commitment.md
  _i18n/nb-no/resources/moneropedia/pruning.md
  _i18n/nb-no/resources/moneropedia/randomx.md
  _i18n/nb-no/resources/moneropedia/remote-node.md
  _i18n/nb-no/resources/moneropedia/ring-size.md
  _i18n/nb-no/resources/moneropedia/ringCT.md
  _i18n/nb-no/resources/moneropedia/ringsignatures.md
Labels: i18n

#1321 Norwegian Moneropedia entries S-W
  _i18n/nb-no/resources/Moneropedia/scalability.md
  _i18n/nb-no/resources/Moneropedia/signature.md
  _i18n/nb-no/resources/Moneropedia/smartmining.md
  _i18n/nb-no/resources/Moneropedia/spendkey.md
  _i18n/nb-no/resources/Moneropedia/stealthaddress.md
  _i18n/nb-no/resources/Moneropedia/tail-emission.md
  _i18n/nb-no/resources/Moneropedia/transaction.md
  _i18n/nb-no/resources/Moneropedia/unlocktime.md
  _i18n/nb-no/resources/Moneropedia/viewkey.md
  _i18n/nb-no/resources/Moneropedia/wallet.md
Labels: i18n

#1364 Fix link to a 'monero missive' in the Moneropedia 'Node' entry
  _i18n/ar/resources/moneropedia/node.md
  _i18n/de/resources/moneropedia/node.md
  _i18n/en/resources/moneropedia/node.md
  _i18n/es/resources/moneropedia/node.md
  _i18n/fr/resources/moneropedia/node.md
  _i18n/it/resources/moneropedia/node.md
  _i18n/nl/resources/moneropedia/node.md
  _i18n/pl/resources/moneropedia/node.md
  _i18n/pt-br/resources/moneropedia/node.md
  _i18n/ru/resources/moneropedia/node.md
  _i18n/tr/resources/moneropedia/node.md
  _i18n/zh-cn/resources/moneropedia/node.md
  _i18n/zh-tw/resources/moneropedia/node.md
Labels: needs review

#1292 Footer: reorganize entries
  _i18n/en.yml
  _includes/footer.html
Labels: needs review

#1251 German translation of Moneropedia entries K - O
  _i18n/de/resources/moneropedia/kovri.md
  _i18n/de/resources/moneropedia/locally-unique-host.md
  _i18n/de/resources/moneropedia/mining.md
  _i18n/de/resources/moneropedia/mnemonicseed.md
  _i18n/de/resources/moneropedia/node.md
  _i18n/de/resources/moneropedia/openalias.md
Labels: i18n

#1325 German Translation of User Guides (General 1/2)
  _i18n/de/resources/user-guides/Offline_Backup.md
  _i18n/de/resources/user-guides/importing_blockchain.md
  _i18n/de/resources/user-guides/monero_tools.md
  _i18n/de/resources/user-guides/vps_run_node.md
Labels: i18n, needs review

#1327 German Translation of User Guides (Mining, Recovery)
  _i18n/de/resources/user-guides/howto_fix_stuck_funds.md
  _i18n/de/resources/user-guides/mine-to-pool.md
  _i18n/de/resources/user-guides/restore_account.md
  _i18n/de/resources/user-guides/restore_from_keys.md
  _i18n/de/resources/user-guides/solo_mine_GUI.md
Labels: i18n, needs review

#1387 Add Bulletproofs+ code blog post
  _posts/2020-12-24-Bulletproofs+-in-Monero.md
  blog/assets/bulletproofs+/bulletproofs+.png
Labels: needs review
