Repository monero-project/monero-site, pull requests merged in 2021-01, with the labels that each got.

#1326 German Translation of User Guides (General 2/2)
  _i18n/de/resources/user-guides/node-i2p-zero.md
  _i18n/de/resources/user-guides/securely_purchase.md
  _i18n/de/resources/user-guides/verification-allos-advanced.md
  _i18n/de/resources/user-guides/verification-windows-beginner.md
Labels: i18n

#1332 German Translation of User Guides (Wallet 1/2)
  _i18n/de/resources/user-guides/cli_wallet_daemon_isolation_qubes_whonix.md
  _i18n/de/resources/user-guides/ledger-wallet-cli.md
  _i18n/de/resources/user-guides/monero-wallet-cli.md
  _i18n/de/resources/user-guides/prove-payment.md
  _i18n/de/resources/user-guides/remote_node_gui.md
  _i18n/de/resources/user-guides/view_only.md
Labels: i18n

#1339 German Translation of User Guides (Wallet 2/2)
  _i18n/de/resources/user-guides/multisig-messaging-system.md
  _i18n/de/resources/user-guides/tor_wallet.md
Labels: i18n

#1394 workgroups: change URL to /community/workgroups/
  _includes/header.html
  community/workgroups/index.md
Labels: 🧰 back end

#1403 Dev guides: add csharp-monero to 'libraries and helpers'
  _i18n/en.yml
  resources/developer-guides/index.md
Labels: needs review
